<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title><%=@page_title%></title>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:200|Roboto+Condensed|Nunito|Sacramento|Quicksand:500|Roboto+Slab:300" rel="stylesheet">

  <meta name="keywords" content="<%= @seo_keywords %>"/>

  <%= favicon_link_tag 'favicons/favicon(1).ico'%>
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render "shared/application_nav" %>
   <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

        <%= image_tag(
            'fishin.png',
            id: 'background',
            autoplay: true,
            loop: true,
            muted: true,
            poster: 'fishin.png'
          )
          %>

        
        <%= yield %>

        <%= render "shared/application_footer" %>

        <%= alerts %>


        </div>
      </div>
    </div>
  </body>
</html>
